# Masters In Data Science

In [14]:
# Import Dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from config import username, password

## State Data
### https://www.mastersindatascience.org/schools/

### Extract

In [15]:
# Ctrl + F "Data Science Graduate Degrees by State" to see the card breakdown on the above page
# Use Requests to call the url and BeautifulSoup to get the state data elements
url = "https://www.mastersindatascience.org/schools/"
response = requests.get(url).text
soup = bs(response, "html.parser")

In [11]:
# Targeting col-md-6 returns only the state cards that we need
card_list = soup.find_all("div", class_="col-md-6")
print(card_list[27].text.strip().split("\n")[0]) # check the first element
print(card_list[-1].text.strip().split("\n")[0]) # check the last element

Alabama
District of Columbia

In [17]:
# Iterate through each state and store the information from each section
state_data = []
for card in card_list:
    state = card.find("h3").text
    school_count = int(card.find("p").text.split(" ")[0]) # only captures the int, not the full string (i.e. 5, not "5 Schools")
    # capture the number of programs in each type
    program_list = card.find_all("div", class_="dept")
    prog_ba = 0
    prog_cs = 0
    prog_gs = 0
    prog_hi = 0
    prog_cert = 0
    prog_doc = 0
    prog_wage = 0
    for program in program_list:
        # check for each type of program
        if "Business Analytics" in program.text:
            prog_ba = program.strong.text.split(":")[0]
        if "Computer Science" in program.text:
            prog_cs = program.strong.text.split(":")[0] 
        if "Geospatial Science" in program.text:
            prog_gs = program.strong.text.split(":")[0]
        if "Health Informatics" in program.text:
            prog_hi = program.strong.text.split(":")[0] 
        if "Certificate" in program.text:
            prog_cert = program.strong.text.split(":")[0] 
        if "Doctorate" in program.text:
            prog_doc = program.strong.text.split(":")[0] 
        if "Annual Mean Wage" in program.text:
            prog_wage = program.text
    item = {
        "State": state,
        "School Count": school_count,
        "Business Analytics": prog_ba,
        "Computer Science": prog_cs,
        "Geospatial Science": prog_gs,
        "Health Informatics": prog_hi,
        "Certificate": prog_cert,
        "Doctorate": prog_doc,
        "Annual Mean Wage": prog_wage,
    }

    state_data.append(item)
print (state_data)

[{'State': 'Alabama', 'School Count': 5, 'Business Analytics': '7', 'Computer Science': '1', 'Geospatial Science': '1', 'Health Informatics': 0, 'Certificate': '1', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: $138,510 yearly'}, {'State': 'Arizona', 'School Count': 3, 'Business Analytics': '6', 'Computer Science': '4', 'Geospatial Science': '1', 'Health Informatics': '1', 'Certificate': '1', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $111,510 yearly'}, {'State': 'Arkansas', 'School Count': 2, 'Business Analytics': '2', 'Computer Science': 0, 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '1', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $95,220 yearly'}, {'State': 'California', 'School Count': 25, 'Business Analytics': '29', 'Computer Science': '7', 'Geospatial Science': '5', 'Health Informatics': '7', 'Certificate': '9', 'Doctorate': '5', 'Annual Mean Wage': 'Annual Mean Wage: $136,310 yearly'}, {'State': 'Colorado', 'School Count': 8, 'Business Analytics': '12', 'Computer Science': '5', 'Geospatial Science': '1', 'Health Informatics': '1', 'Certificate': '3', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $121,180 yearly'}, {'State': 'Connecticut', 'School Count': 6, 'Business Analytics': '6', 'Computer Science': '1', 'Geospatial Science': 0, 'Health Informatics': 0, 'Certificate': '1', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: $117,990 yearly'}, {'State': 'Delaware', 'School Count': 1, 'Business Analytics': '7', 'Computer Science': '2', 'Geospatial Science': '1', 'Health Informatics': '1', 'Certificate': '2', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: NA'}, {'State': 'Florida', 'School Count': 13, 'Business Analytics': '16', 'Computer Science': '5', 'Geospatial Science': '1', 'Health Informatics': '7', 'Certificate': '7', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: $101,120 yearly'}, {'State': 'Georgia', 'School Count': 8, 'Business Analytics': '10', 'Computer Science': '5', 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '3', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: $100,140 yearly'}, {'State': 'Hawaii', 'School Count': 1, 'Business Analytics': '1', 'Computer Science': 0, 'Geospatial Science': 0, 'Health Informatics': 0, 'Certificate': '1', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: $107,520 yearly'}, {'State': 'Idaho', 'School Count': 3, 'Business Analytics': 0, 'Computer Science': '2', 'Geospatial Science': '3', 'Health Informatics': '3', 'Certificate': '2', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $137,180 yearly'}, {'State': 'Illinois', 'School Count': 12, 'Business Analytics': '18', 'Computer Science': '6', 'Geospatial Science': '1', 'Health Informatics': '3', 'Certificate': '9', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: $113,350 yearly'}, {'State': 'Indiana', 'School Count': 6, 'Business Analytics': '11', 'Computer Science': '4', 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '5', 'Doctorate': '3', 'Annual Mean Wage': 'Annual Mean Wage: $107,150 yearly'}, {'State': 'Iowa', 'School Count': 5, 'Business Analytics': '10', 'Computer Science': '1', 'Geospatial Science': '2', 'Health Informatics': '7', 'Certificate': '5', 'Doctorate': '4', 'Annual Mean Wage': 'Annual Mean Wage: NA'}, {'State': 'Kansas', 'School Count': 4, 'Business Analytics': '2', 'Computer Science': '2', 'Geospatial Science': '1', 'Health Informatics': '1', 'Certificate': '6', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $94,300 yearly'}, {'State': 'Kentucky', 'School Count': 5, 'Business Analytics': '1', 'Computer Science': '3', 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '3', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: NA'}, {'State': 'Louisiana', 'School Count': 5, 'Business Analytics': '2', 'Computer Science': 0, 'Geospatial Science': 0, 'Health Informatics': '5', 'Certificate': '1', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $89,810 yearly'}, {'State': 'Maine', 'School Count': 4, 'Business Analytics': '5', 'Computer Science': '3', 'Geospatial Science': '2', 'Health Informatics': '2', 'Certificate': '7', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: NA'}, {'State': 'Maryland', 'School Count': 6, 'Business Analytics': '6', 'Computer Science': '6', 'Geospatial Science': '1', 'Health Informatics': '1', 'Certificate': '3', 'Doctorate': '4', 'Annual Mean Wage': 'Annual Mean Wage: $119,180 yearly'}, {'State': 'Massachusetts', 'School Count': 14, 'Business Analytics': '27', 'Computer Science': '2', 'Geospatial Science': '1', 'Health Informatics': '4', 'Certificate': '9', 'Doctorate': '4', 'Annual Mean Wage': 'Annual Mean Wage: $116,920 yearly'}, {'State': 'Michigan', 'School Count': 11, 'Business Analytics': '9', 'Computer Science': '10', 'Geospatial Science': '1', 'Health Informatics': '4', 'Certificate': '5', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $103,350 yearly'}, {'State': 'Minnesota', 'School Count': 4, 'Business Analytics': '9', 'Computer Science': 0, 'Geospatial Science': 0, 'Health Informatics': '4', 'Certificate': '4', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $129,890 yearly'}, {'State': 'Mississippi', 'School Count': 5, 'Business Analytics': '1', 'Computer Science': 0, 'Geospatial Science': '1', 'Health Informatics': '2', 'Certificate': '1', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $95,860 yearly'}, {'State': 'Missouri', 'School Count': 10, 'Business Analytics': '14', 'Computer Science': '3', 'Geospatial Science': '1', 'Health Informatics': '4', 'Certificate': '7', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: $96,810 yearly'}, {'State': 'Montana', 'School Count': 2, 'Business Analytics': '1', 'Computer Science': '1', 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '1', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: NA'}, {'State': 'Nebraska', 'School Count': 5, 'Business Analytics': '6', 'Computer Science': '1', 'Geospatial Science': 0, 'Health Informatics': '4', 'Certificate': '4', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: $86,400 yearly'}, {'State': 'Nevada', 'School Count': 3, 'Business Analytics': '6', 'Computer Science': '1', 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '1', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: $103,070 yearly'}, {'State': 'New Hampshire', 'School Count': 4, 'Business Analytics': '9', 'Computer Science': '1', 'Geospatial Science': 0, 'Health Informatics': '5', 'Certificate': '2', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $128,240 yearly'}, {'State': 'New Jersey', 'School Count': 6, 'Business Analytics': '11', 'Computer Science': '4', 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '2', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $127,420 yearly'}, {'State': 'New Mexico', 'School Count': 3, 'Business Analytics': '3', 'Computer Science': '2', 'Geospatial Science': 0, 'Health Informatics': 0, 'Certificate': '1', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: $136,370 yearly'}, {'State': 'New York', 'School Count': 29, 'Business Analytics': '27', 'Computer Science': '14', 'Geospatial Science': '4', 'Health Informatics': '9', 'Certificate': '10', 'Doctorate': '6', 'Annual Mean Wage': 'Annual Mean Wage: $131,220 yearly'}, {'State': 'North Carolina', 'School Count': 8, 'Business Analytics': '9', 'Computer Science': '2', 'Geospatial Science': '2', 'Health Informatics': '7', 'Certificate': '8', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: $108,460 yearly'}, {'State': 'North Dakota', 'School Count': 3, 'Business Analytics': '1', 'Computer Science': '1', 'Geospatial Science': '1', 'Health Informatics': 0, 'Certificate': '1', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: NA'}, {'State': 'Ohio', 'School Count': 9, 'Business Analytics': '12', 'Computer Science': '2', 'Geospatial Science': '1', 'Health Informatics': '4', 'Certificate': '6', 'Doctorate': '3', 'Annual Mean Wage': 'Annual Mean Wage: $112,490 yearly'}, {'State': 'Oklahoma', 'School Count': 3, 'Business Analytics': '6', 'Computer Science': 0, 'Geospatial Science': 0, 'Health Informatics': '2', 'Certificate': '3', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $84,070 yearly'}, {'State': 'Oregon', 'School Count': 4, 'Business Analytics': '7', 'Computer Science': '1', 'Geospatial Science': '2', 'Health Informatics': '3', 'Certificate': '9', 'Doctorate': '3', 'Annual Mean Wage': 'Annual Mean Wage: $130,220 yearly'}, {'State': 'Pennsylvania', 'School Count': 16, 'Business Analytics': '22', 'Computer Science': '7', 'Geospatial Science': '2', 'Health Informatics': '10', 'Certificate': '7', 'Doctorate': '5', 'Annual Mean Wage': 'Annual Mean Wage: $107,660 yearly'}, {'State': 'Rhode Island', 'School Count': 3, 'Business Analytics': '3', 'Computer Science': '1', 'Geospatial Science': '1', 'Health Informatics': '3', 'Certificate': '2', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: $108,890 yearly'}, {'State': 'South Carolina', 'School Count': 3, 'Business Analytics': '3', 'Computer Science': '3', 'Geospatial Science': 0, 'Health Informatics': '2', 'Certificate': '1', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $96,870 yearly'}, {'State': 'South Dakota', 'School Count': 3, 'Business Analytics': '7', 'Computer Science': '1', 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '3', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: NA'}, {'State': 'Tennessee', 'School Count': 8, 'Business Analytics': '8', 'Computer Science': 0, 'Geospatial Science': 0, 'Health Informatics': '6', 'Certificate': '3', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: $113,960 yearly'}, {'State': 'Texas', 'School Count': 12, 'Business Analytics': '12', 'Computer Science': '7', 'Geospatial Science': '5', 'Health Informatics': '4', 'Certificate': '5', 'Doctorate': '3', 'Annual Mean Wage': 'Annual Mean Wage: $125,800 yearly'}, {'State': 'Utah', 'School Count': 2, 'Business Analytics': '6', 'Computer Science': '1', 'Geospatial Science': 0, 'Health Informatics': '3', 'Certificate': '4', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $98,210 yearly'}, {'State': 'Vermont', 'School Count': 1, 'Business Analytics': 0, 'Computer Science': 0, 'Geospatial Science': '1', 'Health Informatics': '1', 'Certificate': 0, 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: NA'}, {'State': 'Virginia', 'School Count': 7, 'Business Analytics': '10', 'Computer Science': '7', 'Geospatial Science': '2', 'Health Informatics': '1', 'Certificate': '3', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $129,840 yearly'}, {'State': 'Washington', 'School Count': 5, 'Business Analytics': '6', 'Computer Science': '1', 'Geospatial Science': '1', 'Health Informatics': '2', 'Certificate': '5', 'Doctorate': '2', 'Annual Mean Wage': 'Annual Mean Wage: $117,990 yearly'}, {'State': 'West Virginia', 'School Count': 2, 'Business Analytics': '1', 'Computer Science': '1', 'Geospatial Science': '2', 'Health Informatics': 0, 'Certificate': '3', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: $77,580 yearly'}, {'State': 'Wisconsin', 'School Count': 4, 'Business Analytics': '1', 'Computer Science': '2', 'Geospatial Science': 0, 'Health Informatics': '1', 'Certificate': '1', 'Doctorate': '1', 'Annual Mean Wage': 'Annual Mean Wage: $77,870 yearly'}, {'State': 'District of Columbia', 'School Count': 3, 'Business Analytics': '7', 'Computer Science': 0, 'Geospatial Science': 0, 'Health Informatics': 0, 'Certificate': '3', 'Doctorate': 0, 'Annual Mean Wage': 'Annual Mean Wage: $127,900 yearly'}]

### Transform

In [18]:
# Store each state as a dataframe with all available columns (BA, CS, Geospatial, Health Informatics, Certificate, Doctorate, etc)
state_data_df = pd.DataFrame.from_dict(state_data)
state_data_updated=state_data_df.set_index('State')
state_data_updated.head()

,School Count,Business Analytics,Computer Science,Geospatial Science,Health Informatics,Certificate,Doctorate,Annual Mean Wage
State,,,,,,,,
Alabama,5,7,1,1,0,1,0,"Annual Mean Wage: $138,510 yearly"
Arizona,3,6,4,1,1,1,1,"Annual Mean Wage: $111,510 yearly"
Arkansas,2,2,0,0,1,1,1,"Annual Mean Wage: $95,220 yearly"
California,25,29,7,5,7,9,5,"Annual Mean Wage: $136,310 yearly"
Colorado,8,12,5,1,1,3,1,"Annual Mean Wage: $121,180 yearly"

In [19]:
# Convert the Average Wage to an integer
# state_data_updated = state_data_updated['Annual Mean Wage'].apply(lambda x : x.strip().text("Annual Mean Wage:"))
# state_data_final = state_data_updated['Annual Mean Wage'].str.lstrip('Annual Mean Wage:')
# state_data_final = state_data_updated['Annual Mean Wage'].map(lambda x: x.lstrip('Annual Mean Wage:'))
state_data_drop = state_data_updated.assign(result=state_data_updated['Annual Mean Wage'].str.replace(r'Annual Mean Wage:',''))
state_data_drop.drop('Annual Mean Wage', inplace=True, axis=1)
state_data_drop.rename(columns = {'result':'Annual Mean Wage'}, inplace = True) 
state_data_drop.head()

,School Count,Business Analytics,Computer Science,Geospatial Science,Health Informatics,Certificate,Doctorate,Annual Mean Wage
State,,,,,,,,
Alabama,5,7,1,1,0,1,0,"$138,510 yearly"
Arizona,3,6,4,1,1,1,1,"$111,510 yearly"
Arkansas,2,2,0,0,1,1,1,"$95,220 yearly"
California,25,29,7,5,7,9,5,"$136,310 yearly"
Colorado,8,12,5,1,1,3,1,"$121,180 yearly"

In [20]:
state_data_final = state_data_drop.assign(result=state_data_drop['Annual Mean Wage'].str.replace(r'yearly',''))
state_data_final.drop('Annual Mean Wage', inplace=True, axis=1)
state_data_final.rename(columns = {'result':'Annual Mean Wage'}, inplace = True) 
state_data_final.head()

,School Count,Business Analytics,Computer Science,Geospatial Science,Health Informatics,Certificate,Doctorate,Annual Mean Wage
State,,,,,,,,
Alabama,5,7,1,1,0,1,0,"$138,510"
Arizona,3,6,4,1,1,1,1,"$111,510"
Arkansas,2,2,0,0,1,1,1,"$95,220"
California,25,29,7,5,7,9,5,"$136,310"
Colorado,8,12,5,1,1,3,1,"$121,180"

In [10]:
# Remove "NA" values
state_data_final[state_data_final.isna().any(axis=1)]

Empty DataFrame
Columns: [School Count, Business Analytics, Computer Science, Geospatial Science, Health Informatics, Certificate, Doctorate, Annual Mean Wage]
Index: []

Any other transformations we could do? (Cleaning, Aggregating, etc.)

### Load

In [23]:
# Create engine to connect with PostgreSQL
engine = create_engine(f'postgresql://{username}:{password}@localhost/datascience_db')
conn = engine.connect()

[]

In [24]:
# Load the dataframe into PostgreSQL
table_name = 'programs_by_state'
state_data_final.to_sql(table_name,conn)

In [26]:
print(engine.table_names())

['programs_by_state']

### Key Takeaways

In [ ]:
conn.close()

In [10]:
# Draft ideas on what this data could be used for in the future.
# Who would benefit from seeing a breakdown of the data?
# What sort of conclusions can be drawn?
# Are there any other sources we could use in conjunction to bolster the data?

## Career Data
### https://www.mastersindatascience.org/careers/

### Extract

In [14]:
# Scrape each of the following URLs for Career Salary data and store the html
## https://www.mastersindatascience.org/careers/business-analyst/
## https://www.mastersindatascience.org/careers/data-analyst/
## https://www.mastersindatascience.org/careers/data-architect/
## https://www.mastersindatascience.org/careers/data-engineer/
## https://www.mastersindatascience.org/careers/data-scientist/
## https://www.mastersindatascience.org/careers/marketing-analyst/
## https://www.mastersindatascience.org/careers/statistician/

### Do we want to just focus on the data-* ones to help simplify this part?

Each page has the salary section formatted differently so each section will likely need to be tailored to the specific page

In [ ]:
# Initialize career list which will have salary data dictionaries appended and later be converted to a dataframe

I'm not 100% on the different fields/columns we're going to have for this so that will need to figured out as we code this next part. After we have that list of columns, we'll need to make another table in our database to be able to receive and store the data.

In [15]:
# Append salary data for Business Analyst

In [16]:
# Append salary data for Data Analyst

In [17]:
# Append salary data for Data Architect

In [18]:
# Append salary data for Data Engineer

In [19]:
# Append salary data for Data Scientist

In [20]:
# Append salary data for Marketing Analyst

In [21]:
# Append salary data for Statistician

Maybe make a function for these to streamline and prevent code redundancy?

In [22]:
# Convert career list to dataframe

### Transform

Due to each page being different, there will likely need to be a fair amount of cleaning. I'm not sure what specifically at the moment though

### Load

In [23]:
# Use the engine to load the dataframe into PostgreSQL

### Key Takeaways

In [24]:
# Draft ideas on what this data could be used for in the future.
# Who would benefit from seeing a breakdown of the data?
# What sort of conclusions can be drawn?
# Are there any other sources we could use in conjunction to bolster the data?